# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
dashboard.v1/front/static/build
dashboard.v1/dist

dashboard.v2/front/dist
dashboard.v2/dist
# Architecture specific extensions/prefixes

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea
target
node_modules/
*.pyc
.DS_Store
