.gitignore
*.pyc
*.xml
*.gz
.libs_cffi_backend/
Babel-2.4.0.dist-info/
Flask-0.12.2.dist-info/
Flask_AppBuilder-1.9.1.dist-info/
Flask_Babel-0.11.2.dist-info/
Flask_Cache-0.13.1.dist-info/
Flask_Login-0.2.11.dist-info/
Flask_Migrate-2.0.3.dist-info/
Flask_OAuthlib-0.9.4.dist-info/
Flask_OpenID-1.2.5.dist-info/
Flask_SQLAlchemy-2.1.dist-info/
Flask_Script-2.0.5.dist-info/
Flask_Testing-0.6.2.dist-info/
Flask_WTF-0.14.2.dist-info/
Jinja2-2.9.6.dist-info/
Mako-1.0.7.dist-info/
Markdown-2.6.8.dist-info/
MarkupSafe-1.0.dist-info/
MySQL_python-1.2.5.dist-info/
MySQLdb/
PyHive-0.3.0.dist-info/
SQLAlchemy-1.1.9.dist-info/
SQLAlchemy_Utils-0.32.14.dist-info/
TCLIService/
WTForms-2.1.dist-info/
Werkzeug-0.12.2.dist-info/
_billiard.so
_cffi_backend.so
_dummy_thread/
_markupbase/
_mysql.so
_mysql_exceptions.py
_mysql_exceptions.pyc
_thread/
alembic-0.9.3.dist-info/
alembic/
amqp-1.4.9.dist-info/
amqp/
anyjson-0.3.3.dist-info/
anyjson/
babel/
backports.ssl_match_hostname-3.5.0.1.dist-info/
backports/
billiard-3.3.0.23.dist-info/
billiard/
boto3-1.4.4.dist-info/
boto3/
botocore-1.5.83.dist-info/
botocore/
builtins/
celery-3.1.25.dist-info/
celery/
certifi-2017.4.17.dist-info/
certifi/
cffi-1.10.0.dist-info/
cffi/
chardet-3.0.4.dist-info/
chardet/
click-6.7.dist-info/
click/
colorama-0.3.9.dist-info/
colorama/
concurrent/
copyreg/
cryptography-1.7.2.dist-info/
cryptography/
dateutil/
docutils-0.13.1.dist-info/
docutils/
easy_install.py
easy_install.pyc
editor.py
editor.pyc
enum/
enum34-1.1.6.dist-info/
examples/
flask/
flask_babel/
flask_cache/
flask_login.py
flask_login.pyc
flask_migrate/
flask_oauthlib/
flask_openid.py
flask_openid.pyc
flask_script/
flask_sqlalchemy/
flask_testing/
flask_wtf/
flower-0.9.1.dist-info/
flower/
funtests/
future-0.16.0.dist-info/
future/
futures-3.1.1.dist-info/
gunicorn-19.7.1.dist-info/
gunicorn/
html/
http/
humanize-0.5.1.dist-info/
humanize/
idna-2.5.dist-info/
idna/
ipaddress-1.0.18.dist-info/
ipaddress.py
ipaddress.pyc
itsdangerous-0.24.dist-info/
itsdangerous.py
itsdangerous.pyc
jinja2/
jmespath-0.9.3.dist-info/
jmespath/
kombu-3.0.37.dist-info/
kombu/
libfuturize/
libpasteurize/
mako/
markdown/
markupsafe/
numpy-1.13.1.dist-info/
numpy/
oauthlib-2.0.2.dist-info/
oauthlib/
openid/
pandas-0.20.2.dist-info/
pandas/
parsedatetime-2.0.dist-info/
parsedatetime/
past/
pip-9.0.1.dist-info/
pip/
pkg_resources/
pyasn1-0.2.3.dist-info/
pyasn1/
pycparser-2.18.dist-info/
pycparser/
pydruid-0.3.1.dist-info/
pydruid/
pyhive/
python_dateutil-2.6.0.dist-info/
python_editor-1.0.3.dist-info/
python_openid-2.2.5.dist-info/
pytz-2017.2.dist-info/
pytz/
queue/
reprlib/
requests-2.17.3.dist-info/
requests/
requests_oauthlib-0.8.0.dist-info/
requests_oauthlib/
s3transfer-0.1.10.dist-info/
s3transfer/
sasl-0.2.1.dist-info/
sasl/
setuptools-36.2.0.dist-info/
setuptools/
simplejson-3.10.0.dist-info/
simplejson/
six-1.10.0.dist-info/
six.py
six.pyc
socketserver/
sqlalchemy/
sqlalchemy_utils/
sqlparse-0.2.3.dist-info/
sqlparse/
superset-0.18.5.dist-info/
thrift-0.10.0.dist-info/
thrift/
thrift_sasl/
tkinter/
tornado-4.2.dist-info/
tornado/
urllib3-1.21.1.dist-info/
urllib3/
werkzeug/
wheel-0.29.0.dist-info/
wheel/
winreg/
wtforms/
xmlrpc/
thrift_sasl-0.2.1.dist-info/
superset/static/assets/node_modules/*
!superset/static/assets/node_modules/font-awesome
