@import '~antd/dist/antd.css';
.App {
  text-align: center;
  height:600px;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 120px;
}

.App-header {
  /*background-color: #222;*/
  /*height: 80px;*/
  color: white;
}

.App-intro {
  position:fixed;
  bottom: 30px;
  margin-bottom: 10px;
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(-45deg); }
  to { transform: rotate(45deg); }
}

.ant-layout-header{
  background-color: #ffffff;
  margin-bottom: 1px;
}

.ant-layout-content{
  background-color: #ffffff;
}

.indent{
  text-indent: 2em;
  padding: 13px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 400px;
  text-align: center;
  padding-top: 80px;
}

