<html>
<head>
    <title>服务器出错了</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/assets/stylesheets/superset.css">
    <link href="/static/appbuilder/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/appbuilder/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/appbuilder/js/html5shiv.js"></script>
    <script src="/static/appbuilder/js/respond.min.js"></script>
    <![endif]-->
    <link href="/static/appbuilder/datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/static/appbuilder/select2/select2.css" rel="stylesheet">
    <link href="/static/appbuilder/css/flags/flags16.css" rel="stylesheet">
    <link href="/static/appbuilder/css/ab.css" rel="stylesheet">
    <script src="/static/appbuilder/js/jquery-latest.js"></script>
    <script src="/static/appbuilder/js/ab_filters.js"></script>
    <script src="/static/appbuilder/js/ab_actions.js"></script>
    <script src="/static/assets/dist/css-theme.fb9b26fd154107857537.entry.js">
    </script>
    <style type="text/css">/*!
</style>
    <script src="/static/assets/dist/libs/progressbar.js"></script>
</head>

<body>
<header class="top" role="header">
    <div class="navbar navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboardmodelview/list/" data-original-title="" title="">
                    <img width="126" src="/static/assets/images/qiniulogo.svg" alt="Bi-Studio">
                </a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="container">
            <div id="loginbox" style="margin-top:50px;"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">服务器出错了 500</div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div class="help-block">出错了</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>